<header>
    <nav id="header-nav">
        <a href="/" id="logo-link"><img id="nav-logo" src="logo/patcher-logo-white.png"></a>
        <a href="" id="patchbay-link" class="non-logo-links">patchbay</a>
        <a href="" id="patchlist-link" class="non-logo-links">patchlist</a>
        <a href="/auth/google" id="user-link" class="non-logo-links">log in with google</a>
    </nav>
</header>