<header>
    <nav id="header-nav">
        <a href="/" id="logo-link"><img id="nav-logo" src="/logo/patcher-logo-white.png"></a>
        <a href="/posts" id="patchbay-link" class="non-logo-links">patchbay</a>
        <a href="" id="patchlist-link" class="non-logo-links">patchlist</a>
        <% if (!user) {%>
            <a href="/auth/google" id="login-link" class="non-logo-links">log in with google</a>
        <% } else { %>
            <a href="/profiles/<%= user._id %>" id="user-link" class="non-logo-links">profile</a>
            <a href="/logout" id="logout-link" class="non-logo-links">log out</a>
        <% } %>
    </nav>
</header>