<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div class="container-sm">
    <form action="/posts" method="POST">
        <fieldset>
            <legend>new patch</legend>
            <input type="text" name="title" placeholder="patch title" class="form-control">
            <textarea name="body" class="form-control" placeholder="showcase your writing skills here" rows="5" maxlength="240"></textarea>
            <input type="submit" value="patch it!" class="btn btn-success">
        </fieldset>
    </form>
</div>

<%- include('../partials/footer') %>