<%- include('../partials/header') %>
<%- include('../partials/nav') %>
    <h1>patchlist - coming soon to</h1>
    <img id="index-logo" src="/logo/patcher-logo-black.png">
    <p class="index-body">The patchlist will be the heart of patcher, a directory and matching service to bring music industry professionals together.</p>
    <p class="index-body">patchlist will offer both pure search and algorithmically based matchmaking, where users will be able to either search based on different criteria (such as: mixing engineer in Chicago), or engage in a dating app style interface to match you algorithmically with the exact team that is best for you.</p>

<%- include('../partials/footer') %>